/*@media screen and (min-width: 750px) and (max-width: 1200px) {
	#nav .content .container-prLink
	{
		width: 100%;
		text-align:center;
	}
	#nav .content .container-prLink ul li
	{
		padding-left: 0px;
	}
	#nav .content .container-prLink ul li:before
	{
		content: initial;
	}
	#nav .content .container-contentLink
	{
		
		display: none;
	}
}*/  

@media screen and (max-width: 1360px) {
	.logo-header{
		width: 100%;
	max-width: 1360px;	
	padding-top: 5px;
	}
}
@media screen and (min-width: 1200px) {

	#nav-btn-mobile,
	#nav-mobile
	{
		display: none;
	}	
}
@media screen and (max-width: 1200px) {
	#nav-btn,
	#nav,
	#header-desktop .container-rs
	{
		display: none;
	}

	#nav-btn-mobile,
	#nav-mobile	{
		display: block;
	}	   
}

@media screen and (max-width: 1024px) {
	.logo-header{    padding: 5px 5px 7px 5px;	}
}

.bn-mobile{
      display: none !important
}
.bn-desk{
      display: block !important
}
.bn-desk-in{
      display: inline-block !important
}

@media screen and (max-width: 767px) {
	.logo-born{max-width: 93px;}
	.logo-triad{max-width: 95px;}
      .logo-header{    padding: 5px 5px 5px 5px;}
      .logo-header.h-scroll{background: #1784bb;}
      .mouse{ display: none !important}
      .bn-mobile{
            display: block !important
      }
      .bn-desk{
            display: none !important
      }
      .section-pr-el .container-el .el.bn-mobile{
            padding: 0 0 20px 0 !important
      }
      .bn-desk-in{
            display: none !important
      }
      .section{ padding-top:8% !important }
      .section .container-el .el h3 {
            display: inline-block !important;
            color: #363F54 !important;
            font-family: National-Bold !important;
            font-size: 42px !important;
            line-height: 51px !important;
            position: relative !important; 
        }
     
}
@media screen and (max-width: 480px) {
	.logo-born{max-width: 75px;}
	.logo-triad{max-width: 90px;}
      .logo-header{    padding: 5px 7px 5px 7px; background: #1C89C0;	}
      #section-sponsors{ height: 360px;!important}
      #section-sponsors .container-li .li-el .el{ height: 60px;!important}
      #section-sponsors .container-li{ top: 40% !important}
}
